Repository axondeepseg/axondeepseg, pull requests merged in 2021-05, with the labels that each got.

#501 Add perimeter to morphometrics
  AxonDeepSeg/morphometrics/compute_morphometrics.py
  AxonDeepSeg/morphometrics/launch_morphometrics_computation.py
  ads_plugin.py
  test/morphometrics/test_compute_morphometrics.py
Labels: enhancement, priority:HIGH

#490 Update the documentation for installing the GPU compatible version of ADS
  docs/source/documentation.rst
  notebooks/02-training_guideline.ipynb
Labels: documentation, installation

#516 Doc: Add description of morphometrics columns headings
  docs/source/documentation.rst
Labels: documentation
