Repository axondeepseg/axondeepseg, pull requests merged in 2021-03, with the labels that each got.

#457 Integrate Simeon's model with FSLeyes and CLI
  AxonDeepSeg/models/download_model.py
  AxonDeepSeg/segment.py
  test/models/test_download_models.py
Labels: fsleyes, models

#448 Use pathlib in the ads_plugin instead of os.path
  ads_plugin.py
Labels: fsleyes, refactoring

#472 Change the default name for saving the morphometrics file
  ads_plugin.py
Labels: fsleyes, refactoring

#471 Add Simeon's model to .gitignore
  .gitignore
Labels: models

#474 Change the name of `-o` flag to `-overlap` flag
  AxonDeepSeg/segment.py
  docs/source/documentation.rst
  test/test_segment.py
Labels: cli, refactoring

#476 Refactor `AxonDeepSeg/models` directory and update .gitignore
  .gitignore
  AxonDeepSeg/download_model.py
  AxonDeepSeg/models/__init__.py
  setup.py
  test/test_download_models.py
Labels: models, refactoring

#485 Fix docs for optical microscopy model
  docs/source/documentation.rst
Labels: documentation

#484 Change install to one env file & update docs
  .travis.yml
  docs/source/documentation.rst
  environment_Linux.yml
  environment_Windows.yml
  environment_macOS.yml
Labels: documentation, installation

#479 TravisCI to GitHub Action Migration
  .github/workflows/run_tests.yaml
  README.md
  environment.yml
  test/testing/test_segmentation_scoring.py
Labels: ci, dependencies, priority:HIGH, testing
