Repository axondeepseg/axondeepseg, pull requests merged in 2022-07, with the labels that each got.

#629 Resolve "tif in filename" imread bug & refactor valid image exensions
  AxonDeepSeg/ads_utils.py
  AxonDeepSeg/segment.py
  ads_plugin.py
  config.py
  test/test_ads_utils.py
Labels: bug, refactoring

#651 Add tools for axon filtering
  AxonDeepSeg/download_tests.py
  AxonDeepSeg/morphometrics/compute_morphometrics.py
  AxonDeepSeg/postprocessing.py
  test/morphometrics/test_compute_morphometrics.py
  test/test_postprocessing.py
Labels: processing

#642 Simplify specifying torch dependency
  docs/source/documentation.rst
  environment.yml
Labels: installation

#667 Save instance segmentation image
  .gitignore
  AxonDeepSeg/morphometrics/compute_morphometrics.py
  AxonDeepSeg/morphometrics/launch_morphometrics_computation.py
  AxonDeepSeg/visualization/colorization.py
  config.py
  docs/source/documentation.rst
  test/morphometrics/test_launch_morphometrics_computation.py
  test/visualization/test_colorization.py
Labels: feature, morphometrics
