Repository axondeepseg/axondeepseg, pull requests merged in 2024-09, with the labels that each got.

#800 `ivadomed` to `nnunetv2` backend migration
  .github/workflows/run_tests.yaml
  .gitignore
  AxonDeepSeg/__init__.py
  AxonDeepSeg/ads_utils.py
  AxonDeepSeg/apply_model.py
  AxonDeepSeg/download_model.py
  AxonDeepSeg/download_tests.py
  AxonDeepSeg/integrity_test.py
  AxonDeepSeg/model_cards.py
  AxonDeepSeg/morphometrics/compute_morphometrics.py
  AxonDeepSeg/postprocessing.py
  AxonDeepSeg/segment.py
  AxonDeepSeg/visualization/colorization.py
  AxonDeepSeg/visualization/generate_axons_from_myelin.py
  AxonDeepSeg/visualization/get_masks.py
  AxonDeepSeg/visualization/merge_masks.py
  AxonDeepSeg/zoom_factor_sweep.py
  Dockerfile
  ads_plugin.py
  config.py
  docs/source/documentation.rst
  environment.yml
  install_ads
  install_ads.bat
  notebooks/00-getting_started.ipynb
  notebooks/01-performance_metrics.ipynb
  notebooks/02-morphometrics_extraction.ipynb
  plugins/napari_ADS/Settings_menu_ui.ui
  plugins/napari_ADS/_widget.py
  plugins/napari_ADS/settings_menu_ui.py
  plugins/setup.cfg
  postBuild
  requirements.txt
  setup.py
  test/morphometrics/test_compute_morphometrics.py
  test/test_ads_utils.py
  test/test_apply_model.py
  test/test_download_models.py
  test/test_model_cards.py
  test/test_postprocessing.py
  test/test_segment.py
  test/visualization/test_generate_axons_from_myelin.py
  test/visualization/test_get_masks.py
  test/visualization/test_merge_masks.py
Labels: dependencies, refactoring, models, cli, nnunetv2

#825 Fix youtube bug in docs
  docs/source/documentation.rst
Labels: bug, documentation

#828 fix napari plugin not launching properly on Windows
  plugins/napari_ADS/napari.yaml
Labels: bug, GUI

#830 Change "download_models" to "download_model"
  install_ads
  install_ads.bat
  setup.py
  test/test_download_models.py
  test/test_download_tests.py
Labels: refactoring, cli
