Repository axondeepseg/axondeepseg, pull requests merged in 2025-01, with the labels that each got.

#788 Add reinstallation documentation
  docs/source/documentation.rst
Labels: documentation

#854 Log CLI args, add breakline
  AxonDeepSeg/segment.py
Labels: cli

#858 Fix crosslink bug in documentation
  docs/source/documentation.rst
Labels: bug, documentation

#855 Update imread/imwrite functionality and tests
  AxonDeepSeg/ads_utils.py
  AxonDeepSeg/download_tests.py
  test/test_ads_utils.py
  test/test_download_tests.py
Labels: bug, refactoring, testing

#859 Add generalist preprint in readme
  README.md
Labels: readme

#852 Change test image(s) in rtd
  docs/source/documentation.rst
Labels: documentation

#861 Fix missing config import in napari
  plugins/napari_ADS/_widget.py
Labels: bug, priority:HIGH, GUI

#856 Release 5.0.0
  CHANGELOG.md
Labels: release

#867 Set border morphometrics true by default
  AxonDeepSeg/ads_utils.py
  AxonDeepSeg/morphometrics/compute_morphometrics.py
  AxonDeepSeg/morphometrics/launch_morphometrics_computation.py
  docs/source/documentation.rst
Labels: morphometrics
